FootballManager/FootballManager.Referee.Presentation/Service References/RefereeService/RefereeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RefereeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62518/RefereeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62518/RefereeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62518/RefereeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FootballManager.Domain.Entity.Models.Authentication.Enums" />
      <xsd:import schemaLocation="http://localhost:62518/RefereeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RefereeServiceLibrary.DTOs" />
      <xsd:import schemaLocation="http://localhost:62518/RefereeService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FootballManager.Domain.Entity.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRefereeService_AuthenticateReferee_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateReferee" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_AuthenticateReferee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateRefereeResponse" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_GetMatchesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesList" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_GetMatchesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesListResponse" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_GetMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatch" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_GetMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_SaveGoals_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveGoals" />
  </wsdl:message>
  <wsdl:message name="IRefereeService_SaveGoals_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveGoalsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRefereeService">
    <wsdl:operation name="AuthenticateReferee">
      <wsdl:input wsaw:Action="http://tempuri.org/IRefereeService/AuthenticateReferee" message="tns:IRefereeService_AuthenticateReferee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRefereeService/AuthenticateRefereeResponse" message="tns:IRefereeService_AuthenticateReferee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IRefereeService/ChangePassword" message="tns:IRefereeService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRefereeService/ChangePasswordResponse" message="tns:IRefereeService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IRefereeService/GetPlayer" message="tns:IRefereeService_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRefereeService/GetPlayerResponse" message="tns:IRefereeService_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRefereeService/GetMatchesList" message="tns:IRefereeService_GetMatchesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRefereeService/GetMatchesListResponse" message="tns:IRefereeService_GetMatchesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IRefereeService/GetMatch" message="tns:IRefereeService_GetMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRefereeService/GetMatchResponse" message="tns:IRefereeService_GetMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveGoals">
      <wsdl:input wsaw:Action="http://tempuri.org/IRefereeService/SaveGoals" message="tns:IRefereeService_SaveGoals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRefereeService/SaveGoalsResponse" message="tns:IRefereeService_SaveGoals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRefereeService" type="tns:IRefereeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateReferee">
      <soap:operation soapAction="http://tempuri.org/IRefereeService/AuthenticateReferee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IRefereeService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://tempuri.org/IRefereeService/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchesList">
      <soap:operation soapAction="http://tempuri.org/IRefereeService/GetMatchesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatch">
      <soap:operation soapAction="http://tempuri.org/IRefereeService/GetMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveGoals">
      <soap:operation soapAction="http://tempuri.org/IRefereeService/SaveGoals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RefereeService">
    <wsdl:port name="BasicHttpBinding_IRefereeService" binding="tns:BasicHttpBinding_IRefereeService">
      <soap:address location="http://localhost:62518/RefereeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>